<h1>All Tasks</h1>
<%= link_to 'Create new task', tasks_new_path %>
<% @tasks.each do |task| %>
  <h2><%= link_to task.title, show_task_path(task) %> || <%= task.details %> || <%= task.completed %> </h2>
<% end %>


